.project-card {
    width: 90%;
    margin: 20px 5%;
    padding: 10px;
}

.tech-stack {
    margin: 10px 0;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .project-card {
        width: 40%;
        margin: 20px 5%;
        padding: 10px;
    }
}