.nav {
    display: flex;
    justify-content: center;
}

.tab-pane {
    padding: 50px;
}

.nav-link {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25%;
    font-size: 16px;
    margin-bottom: -1px;
    color: white !important;
}

.nav-link.active {
    color: darkmagenta !important;
}

#greeting {
    font-size: 24px;
}

#about-me {
    font-size: 24px;
    color: white;
}

a .active {
    background-color: darkmagenta !important;
    color: white !important;
}

@media only screen and (min-width: 1024px) {
    .nav-link {
        font-size: 24px;
    }

    #about-me {
        font-size: 48px;
    }

    #greeting {
        font-size: 48px;
    }
}